
:host {
    .layout {
        
        padding: var(--spacing-xl);
        
        &__main {
            width: 1280px;
            min-height: 720px;
            margin: 0 auto;
            background-color: var(--color-white);
            
            @media only screen and (max-width: 1360px) {
                width: 920px;
            }
            
            @media only screen and (max-width: 980px) {
                width: 600px;
            }
        }
    }
}
